*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.starbuckslogo{
    width: 50px;
    height: 50px;
}
.ribbon{
    min-height: 60px;
    height: max-content;
    align-items: center;
    background-color: #1e3932;
    color: white;
    padding-left: 50px;
    
    
}
.ribbon-button{
    width: 9rem;
    height: auto;
    padding: auto;
    
    border-radius: 20px;
    border-color: white;
    background-color: #1e3932;
    color: white;
}
.ribbon-div{
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
}
.ribbon-div p{
    font-size: x-large;
}
#carouselExampleControls img{
    height: 25em;
    object-fit:fill;
    border-radius: 20px;
}
.curation img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: contain;
}
.barista h3{
    padding-left: 100px;
}
.barista .row{
    align-items: center;
}
.barista p{
    color: rgb(2, 53, 2);
}
.barista{
    background-color: rgb(236, 234, 230);
}
.barista .row .content{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.image-main{
padding-left: 10vw;
}
.image-main img{
    width: 80vw;
    height: 450px;
    border-radius: 25px;
    padding-top: 1vh;
    
  
}

.image-main{
    width: 80vw;
    height: 450px;
    border-radius: 25px;
    padding-top: 1vh;
    margin-bottom: 50px;
    position: relative;
   
    
    
}
.image-main .gradient{
    position: absolute;
    top: 0;
    width: 100%;
    height: 78%;
    z-index: 1;
    height: 450px;
    border-radius: 25px;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 1),rgb(0, 0, 0, 0.8),rgb(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
}
.image-main-text{
    position: absolute;
    top:25vh;
    left:15vw;
    
    color: rgb(226, 229, 232);
    z-index: 3;
}
/* .image-main:hover{
    filter: brightness(50%);
    cursor: pointer;
    z-index: 2;
    transition: filter 0.3s ease;

} */
footer{
    background-color: #1e3932;
    color: white;
    width: 100%;
}
ul{
    list-style-type: none;
   
}
.curation-img img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease, border-color 0.3s ease;
    border: 3px solid transparent;
    border-color: #0a8910;
}
.curation-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5px ;
}

@media (max-width: 1300px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }
  }
@media (max-width:1205px){
    .barista .row .container{
        display:flex;
        flex-direction: column;
        
    }
}
@media (max-width:1230px){
    .barista .row {
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .barista .row .content{
        width: 20em;
    }
    .barista .div1{
        display: grid;
        grid-template-columns: 9fr 1fr 1fr;
       

    }
    .barista .row .container{
        margin-left: 20px !important;
    }
    /* .barista .div1 .div1img{
        display: none;
    } */

}
@media (max-width:767px){
    .barista .row {
        display:grid;
        grid-template-columns: 1fr ;
        margin: 0;
        padding: 0;
    }
    .barista .row .content{
        width: 20em;
    }
    .barista .div1{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 7fr 1fr 2fr;

    }
    .barista .div1 h3{
        padding-left: 10px;
    }
    .barista .row .container{
        display:grid;
        grid-template-columns: 1fr ;
        margin: 0;
        padding: 0;
    }
    .artscience .head{
        padding-left: 10px !important;
        
    }
    .artscience .div1{
        display: grid;
        grid-template-columns: 8fr 4fr;
    }
  

}
@media(max-width:429px){
    .ribbon {
        padding-left: 0 !important;
    }
    .carousel-control-next{
        width: 30%;
    }
    .carousel-control-prev{
        width: 30%;
    }
}